<h1>Editing: {{user.name}}</h1>
<form class="form" action="/users/update" method="POST">
  <input type="hidden" name="uuid" value="{{user.uuid}}" />
  <div class="form-control">
    <label for="name">Name</label>
    <input
      type="text"
      name="name"
      placeholder="Type your name"
      value="{{user.name}}"
    />
  </div>
  <div class="form-control">
    <label for="occupation">Occupation</label>
    <input
      type="text"
      name="occupation"
      placeholder="Type your occupation"
      value="{{user.occupation}}"
    />
  </div>
  <div class="form-control form-checkbox">
    {{#if user.newsletter}}
      <input type="checkbox" name="newsletter" checked />
    {{else}}
      <input type="checkbox" name="newsletter" />
    {{/if}}
    <label for="newsletter">Do you want to receive our newsletters?</label>
  </div>
  <button type="submit">Save</button>
</form>

<div class="address-container">
  <form action="/address/create" method="POST">
    <h2>Address</h2>
    <input type="hidden" name="user_uuid" value="{{user.uuid}}" />
    <div class="form-control">
      <label for="street">Street</label>
      <input type="text" name="street" placeholder="Type the street" />
    </div>
    <div class="form-control">
      <label for="number">Number</label>
      <input type="text" name="number" placeholder="Type the house number" />
    </div>
    <div class="form-control">
      <label for="city">City</label>
      <input type="text" name="city" placeholder="Type the city" />
    </div>
    <div class="form-control">
      <label for="state">State</label>
      <input
        type="text"
        name="state"
        placeholder="Type the state (e.g: SP, RJ, MA)"
      />
    </div>
    <button type="submit">Save address</button>
  </form>
  {{#if hasAddress}}
    <div class="address-list">
      <h2>Address List</h2>
      {{#each user.Addresses}}
        <div>
          <p>
            {{this.street}}
            -
            {{this.number}},
            {{this.city}}/{{this.state}}
          </p>
          <form action="/address/delete/{{this.uuid}}" method="POST">
            <input type="hidden" name="user_uuid" value="{{this.user_uuid}}" />
            <input type="hidden" name="uuid" value="{{this.uuid}}" />
            <button type="submit" class="delete-btn">Delete</button>
          </form>
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>